.button {
    -fx-font-weight: bold;
}


.header-pane {
    -fx-background-color:#03dac6;
}
.body {
    -fx-background-color:#eeeeee;
}
.content-pane {
    -fx-background-color:#ffffff;
}
.shadow-pane {
    -fx-background-color:rgba(0,0,0,0.5);
    -fx-opacity:0;
}